@import url(https://fonts.googleapis.com/css?family=Fugaz+One);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

:root {
    --primary-color: #93b5c6;
    --secondary-color: #d7816a;
    --accent1-color: #f0cf65;
    --accent2-color: #bd4f6c;

    --heading-font: "Fugaz One", sans-serif;
    --paragraph-font: "Roboto Slab", serif;

    --nav-background-color: #ddedaa;
    --nav-link-color: #4d4d4d;
    --nav-hover-link-color: #000000;
    --nav-hover-background-color: #acd33d;
}

header {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    padding: 0.5rem;
    background-color: var(--accent1-color);
}

header nav {
    display:flex;
    align-items: center;
}

header nav a{
    padding: 3rem 2rem;
    font-family: var(--paragraph-font);
    color: #000000;
    background-color: #f0cf65;
    font-size: 1.7rem;
    text-decoration: none;
}
header nav a:hover{
    background-color: #a0893c;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Fugaz One", sans-serif;
    color: var(--primary-color);
}

body {
    font-family: var(--paragraph-font);
    max-width: 1000px;
    padding: 20px;
    margin: auto;
}

section {
    margin: 1rem 0;
    padding: 1rem;
    background-color: var(--accent2-color);
    text-align: center;
}
section h2 {
    margin: 20px;
    text-align: center;
    background-color: rgba(50, 50, 50, 0.9);
}

figure {
    display: flex;
    flex-flow: column;
    padding: 0;
    max-width: 18%;
    margin: 1%;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

footer {
    display: grid;
    justify-items: center;
    align-items: center ;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: #f0cf65;
}

footer p {
    grid-column: 2;
}

footer nav {
    display: flex;
    grid-column: 3;
}

footer nav a{
    min-width: 2rem;
    padding: 0.3rem;
}

.hero {
    position: relative;
    margin: 1rem 0;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin: 20px;
    text-align: center;
    background-color: rgba(50, 50, 50, 0.9);
}

.hero article {
    padding: 10px;
    margin: 20px;
    max-width: 100%;
    position: absolute;
    display: block;
    top: 250px;
    background-color: var(--secondary-color);
}

.hero article img{
    max-width: 40%;
    float: right;
}

.adventures-flex-container {
    display: flex;
    align-items: flex-end;
}
.adventures-flex-container img {
    width: auto;
    flex-shrink: 1;
}