@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato&display=swap');
:root {
    --primary-color: #467599;
    --secondary-color: #D64045;
    --accent1-color: #9ED8DB;
    --accent2-color: #1D3354;

    --heading-font: 'Anton', sans-serif;
    --paragraph-font: 'Lato', sans-serif;

    --nav-background-color: #808080;
    --nav-link-color: #FFFFFF;
    --nav-hover-background-color: #B3B3B3;
    --nav-hover-link-color: #FFFFFF;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header {
    padding: 10px;
    background-color: var(--accent1-color);
}
p {
    padding: 25px;
}