* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    margin: 10px 0;
    background-color: rgb(70, 130, 180);
    display: flex;
    align-items: center;
    justify-content: stretch;
}
nav a {
    display: block;
    flex-grow: 1;
    padding: 20px;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
}
nav a:hover {
    background-color:  rgb(45, 84, 116);
}
h1 {
    padding: 10px;
    color: steelblue;
    border-bottom: 1px solid steelblue;
}
main img {
    margin: 0.5rem;
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}
p {
    padding: 1.5rem;
    font-size: 1.1rem;
}
header, .grid,footer {
    max-width: 840px;
    margin: 0 auto;
}
aside {
    order: -1;
    width: 20em;
    text-align: center;
    position: relative;
}
aside img {
    width: 200px;
    height: auto;
}
aside h2 {
    position: absolute;
    top: 30px;
    left: 130px;
}
footer {
    margin-top: 2em;
    border-top: 1px solid black;
    text-align: center;
}
/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid black;
    padding: 1.4rem;
    background-color: lightgray;
    color: black;
}

.grid {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
}